= render "management/template/header"
.wrapper
  = render "management/template/side"
  .Main
    .Main__Contents
      .Cards
        .item
          .item__inner
            = render "management/template/store"
        .item
          .item__inner
        .item
          .item__inner
        .item
          .item__inner
        .item
          .item__inner
