.Management-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 60px;
  background-color: #1a73e8;
  color: #fff;
  .bar-icon {
    // line-height: 60px;
    font-size: 25px;
    width: 60px;
    height: 60px;
    text-align: center;
  }
  .bar-icon:hover {
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50px;
    cursor: pointer;
  }
}
