@import "modules/management/header";
.wrapper {
  display: flex;
  @import "modules/management/side";
  .Main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: calc(100vh - 50px);
    &__Contents {
      width: 70%;
      padding-top: 10px;
      @import "modules/management/form";
      @import "modules/management/index";
    }
  }
}
