@import "modules/management/header";
.wrapper {
  display: flex;
  @import "modules/management/side";
  .Main {
    width: 100%;
    margin-top: 50px;
    &__Contents {
      width: 100vw;
      height: calc(100vh - 50px);
      padding-top: 10px;
      background-color: rgba(240, 240, 240, 0.6);
      overflow-y: scroll;
      @import "modules/management/form";
      @import "modules/management/index";
    }
  }
}

.gray-out {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
